
<div class="row">
  <div class="col-xs-12 text-center">
    <h1 class="title">Assimilate URLs</h1>
    <h3 class="title">Turn inefficient urls into short links</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4 mainArea text-center">
    <form id="linkSub" method="POST" action="link">
      <input class="textField form-control" type="url" name="url" placeholder="Enter Inferior URL">
      <input class="subButt btn btn-success" type="submit" value="Assimilate">
    </form>
    <img class="img-responsive borg" src="http://i.imgur.com/xuT61My.png">
  </div>
  <div class="col-xs-4">
  </div>
  <div class="col-xs-12">
  </div>
</div>
